<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Обучение IT для детей</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/futurecss.css') }}">
</head>
<body>
  <div class="container">

    <!-- Левая часть: изображение -->
    <div class="left-section">
      <div class="image-wrapper">
        <img src="{{ url_for('static', filename='media/futurekids.jpg') }}" alt="Дети за компьютером" class="main-image">
        <div class="text-box">
          Хотите обеспечить ребенку успешное будущее и развить его увлечения?
        </div>
      </div>
    </div>

    <!-- Правая часть: весь блок с текстом, кнопкой, бонусом и таймером -->
    <div class="right-section">
      <div class="header-top">
        <img src="{{ url_for('static', filename='media/logo-icon1111.png') }}" alt="Логотип" class="icon-top">
        <h2>АНО ДПО «Академия цифровых технологий»</h2>
      </div>

      <div class="content-box">
        <p> <span class="highlight white-background">Только сегодня получите <br> сертификат на бесплатное IT <br> обучение для вашего ребенка <br> до 4 месяцев!</span></p>
        <p>Забронируй место за 1 минуту, ответив на 4 простых вопроса.</p>
        <p class="styled-red-text">Предложение действует 7 дней</p>
        <div class="action-row">
          <button class="reserve-button" onclick="window.location.href='/futurequiz'">ЗАБРОНИРОВАТЬ</button>

          <div class="timer">
            <span class="timer-title">До конца акции:</span>
            <div class="timer-box">
              <span id="hours">24</span> <span>часов</span>
              <span id="minutes">00</span> <span>минут</span>
              <span id="seconds">00</span> <span>секунд</span>
            </div>

          </div>
        </div>
        <p class="parent-satisfaction">97% родителей довольны результатом*</p>
        <p class="bonus-after-reg">ПОЛУЧИТЕ БОНУЫ ПОСЛЕ РЕГИСТРАЦИИ</p>
      </div>

      <div class="bonus-wrapper">
        <div class="bonus-box">
          <img src="{{ url_for('static', filename='media/razvitie1.png') }}" alt="Подарок" class="icon-bottom">
          <span class="black-background">4 Бесплатных курса</span>
        </div>
        <a href="{{ url_for('static', filename='media/Pravila_povedenia_aktsii.pdf') }}" class="bonus-link">Условия акции</a>
      </div>

      <div class="fine-print">
        Акцией можно воспользоваться, только при покупке обучения. АНО ДПО «Академия цифровых технологий», ОГРН: 1236600011977, ИНН: 6683020473, Лицензия: № Л035-01277-66/00670669, Свердловская обл., г. Заречный, ул. Кузнецова, д. 17
      </div>
    </div>
  </div>

<script src="{{ url_for('static', filename='js/futureJS.js') }}"></script>
</body>

</html>