<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Шапка сайта</title>
    <link rel="stylesheet" href="styles/ITAkademiaStyle.css">
</head>
<body>
    <header>
        <div class="top-bar">
            <div class="left-side">
                <div class="title">АНО ДПО "Академия цифровых технологий"</div>
                <div class="social-icons">
                    <a href="#" class="social-icon"><img src="media/tg-icon.svg" alt="Telegram"></a>
                    <a href="#" class="social-icon"><img src="media/vk-icon.svg" alt="VK"></a>
                </div>
            </div>
            <div class="center-logo">
                <img src="media/logo-icon.png" alt="Логотип">
            </div>
            <div class="right-side">
                <div class="contact-info">
                    <div class="phone">+7 (912) 22 42 120</div>
                    <div class="email">it-akademy@mail.ru</div>
                </div>
                <a href="#" class="login-button">Личный кабинет</a>
            </div>
        </div>

        <nav>
            <ul>
                <li><a href="#">ГЛАВНАЯ</a></li>
                <li class="has-submenu">
                    <a href="#">ФАКУЛЬТЕТЫ</a>
                    <ul class="submenu">
                        <li><a href="#">Программирования и разработки</a></li>
                        <li><a href="#">Робототехники и современных технологий</a></li>
                        <li><a href="#">3D моделирования</a></li>
                        <li><a href="#">Психологии</a></li>
                        <li><a href="#">Юриспруденции и права</a></li>
                        <li><a href="#">Дошкольного, начального и специального образования</a></li>
                        <li><a href="#">Иностранного языка</a></li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="#">НАШИ ШКОЛЫ</a>
                    <ul class="submenu">
                        <li><a href="#">Программирования и разработки</a></li>
                        <li><a href="#">Робототехники и современных технологий</a></li>
                        <li><a href="#">3D моделирования</a></li>
                        <li><a href="#">Психологии</a></li>
                        <li><a href="#">Юриспруденции и права</a></li>
                        <li><a href="#">Дошкольного, начального и специального образования</a></li>
                        <li><a href="#">Иностранного языка</a></li>
                    </ul>
                </li>
                <li><a href="#">ОЛИМПИАДЫ И КОНКУРСЫ</a></li>
                <li><a href="#">КОНТАКТЫ</a></li>
                <li><a href="#">КАЛЕНДАРЬ СОБЫТИЙ</a></li>
                <li><a href="#">ОБ ОРГАНИЗАЦИИ</a></li>
            </ul>
            <div class="submenu-border"></div> 
        </nav>
    </header>
    
    <main>
        <section class="it-education">
            <div class="content">
                <h1>Современное <span>ИТ</span> образование</h1>
                <button class="apply-button">ПОСТУПИТЬ</button>
                <p>Новое поколение – современное обучение.</p>
            </div>
            <div class="image-container">
                <img src="media/code.png" alt="Дети за ноутбуками">
                <div class="overlay"></div>
            </div>
        </section>
        
        <div class="course-form">
            <h2>Подберем нужный курс</h2>
            <form action="#" method="post">
                <input type="email" name="email" placeholder="Ваша почта" required>
                <input type="text" name="name" placeholder="Ваше имя" required>
                <div class="select-group">
                    <label for="direction">Направление</label>
                    <select name="direction" id="direction">
                        <option value="design">Дизайн</option>
                        <option value="develop">Разработка</option>
                        <option value="analytics">Аналитика</option>
                        <option value="testing">Тестирование</option>
                    </select>
                </div>
                <button type="submit" class="submit-btn">Отправить</button>
            </form>
        </div>

        <section class="faculty">
            <h2>Наши факультеты</h2>
            <div class="grid">
                <div class="block">
                    <img src="media/orangecomb.svg">
                    <p>Инженерия и программирование</p>
                </div>
                <div class="block">
                    <img src="media/orangecomb.svg">
                    <p>Робототехника и современные технологии</p>
                </div>
                <div class="block">
                    <img src="media/orangecomb.svg">
                    <p>3D моделирование</p>
                </div>
                <div class="block">
                    <img src="media/orangecomb.svg">
                    <p>Психология</p>
                </div>
                <div class="block">
                    <img src="media/orangecomb.svg">
                    <p>Юриспруденция и право</p>
                </div>
                <div class="block">
                    <img src="media/orangecomb.svg">
                    <p>Дошкольное, начальное и специальное образование</p>
                </div>
            </div>
        </section>
        
        <section class="courses">
            <h2>Наши Курсы</h2>
            <div class="grid">
                <div class="block">
                    <img src="media/bluecomb.svg">
                    <p>Повышение квалификации</p>
                </div>
                <div class="block">
                    <img src="media/bluecomb.svg">
                    <p>Профпереподготовка</p>
                </div>
            </div>
        </section>
        
        <section class="services">
            <h2>Наши Услуги</h2>
            <div class="grid">
                <div class="block">
                    <img src="media/greencomb.svg">
                    <p>Разработка программного обеспечения</p>
                </div>
                <div class="block">
                    <img src="media/greencomb.svg">
                    <p>Организация олимпиад и конкурсов</p>
                </div>
                <div class="block">
                    <img src="media/greencomb.svg">
                    <p>Разработка методических материалов</p>
                </div>
                <div class="block">
                    <img src="media/greencomb.svg">
                    <p>Web-разработка</p>
                </div>
            </div>
            <section class="info-box">
                <div class="info-item">
                    <h3>Для родителей:</h3>
                    <p>Полезные ресурсы и курсы для поддержки обучения ваших детей.</p>
                    <a href="#">Узнать больше</a>
                </div>
                <div class="divider"></div>
                <div class="info-item">
                    <h3>Для учителей:</h3>
                    <p>Инструменты и методики для улучшения образовательного процесса.</p>
                    <a href="#">Узнать больше</a>
                </div>
                <div class="divider"></div>
                <div class="info-item">
                    <h3>Для организаций:</h3>
                    <p>Программы сотрудничества и корпоративное обучение.</p>
                    <a href="#">Узнать больше</a>
                </div>
            </section>
            
        
        
    </main>

    <footer>
        <div class="container">
            <div class="logo-column">
                <img src="media/logo-icon.png" alt="Логотип Академии">
                <a href="#" class="vk-link"><img src="media/vk-icon.svg" alt="VK"></a>
                <p class="copyright">&copy; 2023</p>
            </div>
    
            <div class="info-column">
                <h4>АНО ДПО "АКАДЕМИЯ ИНФОРМАЦИОННО-ЦИФРОВЫХ ТЕХНОЛОГИЙ"</h4>
                <p>Адрес: г. Заречный, ул. Кузнецова, 17</p>
                <p>Приёмная комиссия:</p>
                <p>Сведения об образовательной организации</p>
                <p>Об Академии</p>
                <p>Договор оферты</p>
                <p>2023 г. – Академия технологий</p>
            </div>
    
            <div class="training-column">
                <h4>ОБУЧЕНИЕ</h4>
                <p>Контакты</p>
                <p>Бесплатные материалы</p>
            </div>
    
            <div class="services-column">
                <h4>УСЛУГИ</h4>
                <p>Родителю</p>
                <p>Учителю</p>
                <p>Организации</p>
                <p>Бизнесу</p>
                <p>Стать партнёром</p>
            </div>
        </div>
    </footer>
</body>
</html>
