<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="styles/LoginStyle.css">
</head>
<body>
    <div class="form-container">
        <h2>Вход</h2>
        <form action="#">
            <input type="email" placeholder="Введите Email" required>
            <input type="password" placeholder="Введите пароль" required>
            <button type="submit">Войти</button>
        </form>
        <div class="links">
            <a href="Forgetpassword.html">Забыли пароль?</a>
            <a href="Regstration.html">Регистрация</a>
        </div>
    </div>
</body>
</html>
