.mapjpg {
    
    height: auto;
}

.map {
    position: relative;
    text-align: center;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.ItLand {
    opacity: .3;
    
}

.ItLand:hover {
    transition: opacity .2s ease;
    opacity: .7;
    cursor: pointer;
}

.AkademLand {
    opacity: .3;
    
}

.AkademLand:hover {
    transition: opacity .2s ease;
    opacity: .7;
    cursor: pointer;
}

.ChessLand{
    opacity: .3;
}

.ChessLand:hover {
    transition: opacity .2s ease;
    opacity: .7;
    cursor: pointer;
}

.TitanLand{
    opacity: .3;
}

.TitanLand:hover {
    transition: opacity .2s ease;
    opacity: .7;
    cursor: pointer;
}

.ForeignLand{
    opacity: .3;
}

.ForeignLand:hover {
    transition: opacity .2s ease;
    opacity: .7;
    cursor: pointer;
}
