<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Шахматные земли</title>
    <link rel="stylesheet" href="styles/ChessStyle.css">
</head>
<body>
    <header>
        <div class="top-bar">
            <div class="left-side">
                <div class="center-logo">
                    <div class="logo-and-ticker">
                        <img src="media/logo-icon.png" alt="Логотип">
                        <div class="ticker-container">
                            <div class="ticker-text">
                                <p>Школа</p>
                                <p>Колледж</p>
                                <p>Вуз</p>
                                <p>Шахматы</p>
                                <p>Программирование</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="news-ticker-container">
                    <div class="news-ticker-text">
                        <p>Открытие нового набора на курс по шахматам!</p>
                        <p>Завершился курс по программированию, поздравляем выпускников!</p>
                        <p>Наш преподаватель стал лучшим тренером месяца!</p>
                        <p>Приглашаем на день открытых дверей в Академию!</p>
                        <p>Новая статья в нашем блоге о стратегиях в шахматах!</p>
                    </div>
                </div>

            </div>
            <div class="right-side">
                <div class="contact-info">
                    <div ><button class="phone-text" href="#" id="openModal">ЗВОНИТЕ, МЫ СЕЙЧАС РАБОТАЕМ</button></div>
                    <div class="phone">+7 (___)-___-__-__</div>
                </div>
                <div class="separator"></div> <!-- Разделитель -->
                <div class="social-links">
                    <a href="#" class="social-link"><img src="media/tg-icon.svg" alt="Telegram"></a>
                    <a href="#" class="social-link"><img src="media/vk-icon.svg" alt="WhatsApp"></a>
                </div>
                <div class="separator"></div> <!-- Разделитель -->  
                <div class="callback-login">
                    <div class="callback">
                        
                    </div>
                    <a href="#" class="login-button">Личный кабинет</a>
                </div>
            </div>
                    
                    <div id="modal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <h2>ЗАКАЗ ЗВОНКА</h2>
                            <label for="name">Ваше ФИО</label>
                            <input type="text" id="name" placeholder="Ваше ФИО">
                    
                            <label for="phone">Номер телефона</label>
                            <input type="tel" id="phone" placeholder="+7 (__) ___-__-__">
                    
                            <p class="privacy-text">
                                Нажимая на кнопку "Записаться", вы даете согласие на обработку своих
                                <a href="#">Персональных данных</a>
                            </p>
                    
                            <button class="call-button">ЖДУ ЗВОНКА</button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="#">ГЛАВНАЯ</a></li>
                <li class="has-submenu">
                    <a href="#">ФАКУЛЬТЕТЫ</a>
                    <ul class="submenu">
                        <li><a href="#">Программирования и разработки</a></li>
                        <li><a href="#">Робототехники и современных технологий</a></li>
                        <li><a href="#">3D моделирования</a></li>
                        <li><a href="#">Психологии</a></li>
                        <li><a href="#">Юриспруденции и права</a></li>
                        <li><a href="#">Дошкольного, начального и специального образования</a></li>
                        <a href="#">Иностранного языка</a></li>
                    </ul>
                </li>
                    <li class="has-submenu">
                        <a href="#">НАШИ ШКОЛЫ</a>
                        <ul class="submenu">
                            <li><a href="#">Программирования и разработки</a></li>
                            <li><a href="#">Робототехники и современных технологий</a></li>
                            <li><a href="#">3D моделирования</a></li>
                            <li><a href="#">Психологии</a></li>
                            <li><a href="#">Юриспруденции и права</a></li>
                            <li><a href="#">Дошкольного, начального и специального образования</a></li>
                            <a href="#">Иностранного языка</a></li>
                        </ul>
                    </li></li>
                <li><a href="#">ОЛИМПИАДЫ И КОНКУРСЫ</a></li>
                <li><a href="#">КОНТАКТЫ</a></li>
                <li><a href="#">КАЛЕНДАРЬ СОБЫТИЙ</a></li>
                <li><a href="#">ОБ ОРГАНИЗАЦИИ</a></li>
            </ul>
            <div class="submenu-border"></div> 
        </nav>
    </header>
    <main>
        <section class="chess-section">
            <div class="content">
                <div class="text-content">
                    <h1>РАЗВИТИЕ РЕБЁНКА <br> С ИГРОЙ В ШАХМАТЫ</h1>
                    <div class="chess-benefits">
                        <div class="column">
                            <div class="benefit">
                                <span class="square light">E2</span>
                                <p>Развиваем логику</p>
                            </div>
                            <div class="benefit">
                                <span class="square dark">D2</span>
                                <p>Тренируем память</p>
                            </div>
                            <div class="benefit">
                                <span class="square light">A1</span>
                                <p>Воспитываем чемпионов</p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="benefit">
                                <span class="square dark">E4</span>
                                <p>Развиваем критическое мышление</p>
                            </div>
                            <div class="benefit">
                                <span class="square light">D4</span>
                                <p>Концентрируем внимание</p>
                            </div>
                            <div class="benefit">
                                <span class="square dark">A4</span>
                                <p>Что-то ещё</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image-content">
                    <img src="chess-kid.png" alt="Ребенок играет в шахматы">
                </div>
            </div>
        </section>
        
        <section>
            <div class="cta-container">
                <div class="cta-content">
                    <h2 class="cta-text">
                        НАЧНИТЕ ЗАНИМАТЬСЯ ШАХМАТАМИ СЕЙЧАС, ЧТОБЫ СТАТЬ УСПЕШНЫМ В БУДУЩЕМ
                    </h2>
                    <button class="cta-button" id="openLessonModal">ЗАПИСАТЬСЯ НА ЗАНЯТИЕ</button>
                </div>
                <img src="chess-kid.png" alt="Ребёнок играет в шахматы">
            </div>
        
            <!-- Модальное окно -->
            <div id="lessonModal" class="lesson-modal" style="display: none;">
                <div class="lesson-modal-content">
                    <span class="close">&times;</span>
                    <h2>ЗАПИСЬ НА ЗАНЯТИЕ</h2>
                    <div class="modal-body">
                        <div class="form-container">
                            <label for="teacher">Выберите преподавателя</label>
                            <select id="teacher">
                                <option>Тренер</option>
                                <option>Тренер</option>
                                <option>Тренер</option>
                            </select>
                            <p>Стоимость занятия от #₽ в месяц</p>
        
                            <label for="parent-name">Ваше ФИО</label>
                            <input type="text" id="parent-name" placeholder="Ваше ФИО">
        
                            <label for="child-name">ФИО ребёнка</label>
                            <input type="text" id="child-name" placeholder="ФИО ребёнка">
        
                            <label for="child-age">Возраст ребёнка</label>
                            <input type="text" id="child-age" placeholder="Возраст ребёнка">
        
                            <label for="phone">Номер телефона</label>
                            <input type="text" id="phone" placeholder="+7 (__) __ - __ - __">
        
                            <p>
                                Нажимая на кнопку "Записаться", вы даете согласие на обработку своих
                                <a href="#">Персональных данных</a>
                            </p>
                            <button class="lesson-modal-button">ЗАПИСАТЬСЯ</button>
                        </div>
                        <div class="trainer-info">
                            <img src="trainer-placeholder.png" alt="Тренер">
                            <h3>ТРЕНЕР</h3>
                            <p>🔥 Подберем профессионального тренера</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        
        <section>
            <div class="specialists-section">
                <h2>НАШИ СПЕЦИАЛИСТЫ</h2>
                <p>О тренерах</p>
            
                <div class="slider-container">
                    <div class="slider-controls">
                        <button class="slider-button slider-prev">&#8592;</button>
                        <button class="slider-button slider-next">&#8594;</button>
                    </div>
            
                    <div class="slider">
                        <div class="specialist-card">
                            <div class="card-content">
                                <div class="photo">
                                    <img src="" alt="Тренер">
                                </div>
                                <div class="info">
                                    <p class="subtitle">Разряд. <span>ОПЫТ РАБОТЫ ТРЕНЕРОМ</span></p>
                                    <h3>Имя Отчество</h3>
                                    <p class="location">&#9733; место работы</p>
                                    <p>Информация о тренере</p>
                                    <p>Информация о тренере</p>
                                    <p>Информация о тренере</p>
                                    <p>Информация о тренере</p>
                                    <p>Информация о тренере</p>
                                    <p>Информация о тренере</p>
                                    <div class="achievements">
                                        <h4>ДИПЛОМЫ И ГРАМОТЫ:</h4>
                                        <div class="achievements-images">
                                            <img src="" alt="Диплом 1">
                                            <img src="" alt="Диплом 2">
                                            <!-- добавьте больше дипломов -->
                                        </div>
                                        <h4>ВОСПИТАННИКИ:</h4>
                                        <div class="achievements-images">
                                            <img src="" alt="Воспитанник 1">
                                            <!-- добавьте больше воспитанников -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-buttons">
                                <a href="#" class="schedule-button">РАСПИСАНИЕ</a>
                                <a href="#" class="register-button">ЗАПИСАТЬСЯ</a>
                            </div>
                        </div>
                          <div class="specialist-card">
                              <div class="card-content">
                                  <div class="photo">
                                      <img src="" alt="Тренер">
                                  </div>
                                  <div class="info">
                                      <p class="subtitle">Мастерство. <span>ОПЫТ РАБОТЫ ТРЕНЕРОМ</span></p>
                                      <h3>ФИО</h3>
                                      <p class="location">&#9733; Место работы</p>
                                      <p>Информация о тренере</p>
                                      <p>Информация о тренере</p>
                                      <p>Информация о тренере</p>
                                      <p>Информация о тренере</p>
                                      <p>Информация о тренере</p>
                                      <p>Информация о тренере</p>
                                      <div class="achievements">
                                          <h4>ДИПЛОМЫ И ГРАМОТЫ:</h4>
                                          <div class="achievements-images">
                                              <img src="" alt="Диплом 1">
                                              <img src="" alt="Диплом 2">
                                              <!-- добавьте больше дипломов -->
                                          </div>
                                          <h4>ВОСПИТАННИКИ:</h4>
                                          <div class="achievements-images">
                                              <img src="" alt="Воспитанник 1">
                                              <!-- добавьте больше воспитанников -->
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="card-buttons">
                                  <a href="#" class="schedule-button">РАСПИСАНИЕ</a>
                                  <a href="#" class="register-button">ЗАПИСАТЬСЯ</a>
                              </div>
                          </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="pricing-section">
            <h2 class="pricing-title">СТОИМОСТЬ ОБУЧЕНИЯ</h2>
            <p class="pricing-description">
                У нас можно выбрать любую форму обучения. Индивидуально или в группе, или даже дистанционно из любой точки мира.
            </p>
        
            <div class="pricing-cards">
                <!-- Карточка 1 -->
                <div class="pricing-card">
                    <img src="individual.jpg" alt="Индивидуальное обучение">
                    <h3>ИНДИВИДУАЛЬНОЕ ОБУЧЕНИЕ</h3>
                    <p class="price">ОТ 1500 ₽ ЗА ЗАНЯТИЕ</p>
                    <ul class="card-list">
                        <li>Индивидуальный план обучения</li>
                        <li>Подготовка к соревнованиям</li>
                    </ul>
                    <div class="card-footer">
                        <select>
                            <option>Выберите преподавателя</option>
                        </select>
                        <button class="course-btn">ЗАПИСАТЬСЯ НА КУРС</button>
                        <button class="lesson-btn">ЗАПИСЬ НА ЗАНЯТИЕ</button>
                    </div>
                </div>
        
                <!-- Карточка 2 -->
                <div class="pricing-card">
                    <img src="group.jpg" alt="Обучение в группе">
                    <h3>ОБУЧЕНИЕ В ГРУППЕ</h3>
                    <p class="price">ОТ 1500 ₽ В МЕСЯЦ</p>
                    <ul class="card-list">
                        <li>Практика с соперниками</li>
                        <li>2 занятия в неделю по 1.5 часа</li>
                        <li>В группе 5-10 человек</li>
                    </ul>
                    <div class="card-footer">
                        <select>
                            <option>Выберите преподавателя</option>
                        </select>
                        <button class="course-btn">ЗАПИСАТЬСЯ НА КУРС</button>
                        <button class="lesson-btn">ЗАПИСЬ НА ЗАНЯТИЕ</button>
                    </div>
                </div>
        
                <!-- Карточка 3 -->
                <div class="pricing-card">
                    <img src="online.jpg" alt="Дистанционное обучение">
                    <h3>ДИСТАНЦИОННОЕ ОБУЧЕНИЕ</h3>
                    <p class="price">ОТ 1500 ₽ В МЕСЯЦ</p>
                    <ul class="card-list">
                        <li>Индивидуальный план обучения</li>
                        <li>Подготовка к соревнованиям</li>
                        <li>Тренировки из любой точки мира</li>
                    </ul>
                    <div class="card-footer">
                        <select>
                            <option>Выберите преподавателя</option>
                        </select>
                        <button class="course-btn">ЗАПИСАТЬСЯ НА КУРС</button>
                        <button class="lesson-btn">ЗАПИСЬ НА ЗАНЯТИЕ</button>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="schedule-section">
                <div class="close-button">&times;</div>
                <h2>РАСПИСАНИЕ</h2>
                <p>Выберите тренера:</p>
            
                <div class="trainer-select">
                    <div class="trainer-card">
                        <img src="" alt="Тренер">
                        <p>Тренер</p>
                    </div>
                    <div class="trainer-card">
                        <img src="" alt="Тренер">
                        <p>Тренер</p>
                    </div>
                    <div class="trainer-card">
                        <img src="" alt="Тренер">
                        <p>Тренер</p>
                    </div>
                    <div class="trainer-card">
                        <img src="" alt="Тренер">
                        <p>Тренер</p>
                    </div>
                </div>
            
                <table>
                    <thead>
                        <tr>
                            <th>Время</th>
                            <th>ПН</th>
                            <th>ВТ</th>
                            <th>СР</th>
                            <th>ЧТ</th>
                            <th>ПТ</th>
                            <th>СБ</th>    </table>
            </div>
        </section>

        <section>
            <div class="faq-section">
                <h2>ОТВЕТЫ НА ВОПРОСЫ</h2>
            
                <div class="faq-item">
                    <button class="faq-question">
                        КАК ПРОХОДИТ ОБУЧЕНИЕ?
                        <span class="arrow">&#9650;</span>
                    </button>
                    <div class="faq-answer">
                        <p>Занятие по шахматам, как правило, включает в себя следующие этапы:</p>
                        <ul>
                            <li>Введение: тренер знакомит учеников с основными правилами игры в шахматы, объясняет значение каждой фигуры и движения на доске.</li>
                            <li>Теоретический материал: преподаватель объясняет различные тактики, стратегии, открытия и окончания игры. Это может включать в себя такие темы, как развитие фигур, контроль центра, атака и защита, план игры, создание матовых угроз и т.д.</li>
                            <li>Практическое применение: ученикам предлагается решать задачи, анализировать позиции на шахматной доске, играть практические партии друг с другом или с компьютерным соперником. В данном этапе акцент делается на практическом опыте игры и улучшении навыков.</li>
                            <li>Анализ игр: тренер анализирует партии учеников, выявляет ошибки и помогает исправить их.</li>
                            <li>Соревнования и турниры: проведение шахматных соревнований, где ученики могут применить свои навыки и получить опыт реальных игр.</li>
                        </ul>
                        <p>Важно помнить, что занятия по шахматам должны быть интересными, увлекательными и доступными для разного уровня учеников.</p>
                    </div>
                </div>
            
                <div class="faq-item">
                    <button class="faq-question">
                        В КАКОМ ВОЗРАСТЕ СТОИТ ОТДАВАТЬ РЕБЕНКА В ШАХМАТЫ?
                        <span class="arrow">&#9660;</span>
                    </button>
                    <div class="faq-answer">
                        <p>Вопрос очень индивидуальный, но обычно рекомендуется начинать обучение шахматам в возрасте 5-7 лет, когда у ребенка уже достаточно развиты концентрация и логическое мышление.</p>
                    </div>
                </div>
            
                <div class="faq-item">
                    <button class="faq-question">
                        КАК ВЫБРАТЬ ТРЕНЕРА ПО ШАХМАТАМ?
                        <span class="arrow">&#9660;</span>
                    </button>
                    <div class="faq-answer">
                        <p>При выборе тренера важно обращать внимание на его квалификацию, опыт работы с детьми, умение находить индивидуальный подход и создавать интересные занятия.</p>
                    </div>
                </div>
            
                <div class="faq-item">
                    <button class="faq-question">
                        СКОЛЬКО ДЛИТСЯ ЗАНЯТИЕ?
                        <span class="arrow">&#9660;</span>
                    </button>
                    <div class="faq-answer">
                        <p>Продолжительность занятия зависит от возраста и уровня учеников, обычно от 45 минут до 2 часов.</p>
                    </div>
                </div>
            
                <div class="faq-item">
                    <button class="faq-question">
                        КАКОЕ ОБУЧЕНИЕ ЭФФЕКТИВНЕЕ ГРУППОВОЕ ИЛИ ИНДИВИДУАЛЬНОЕ?
                        <span class="arrow">&#9660;</span>
                    </button>
                    <div class="faq-answer">
                        <p>Оба формата имеют свои преимущества: групповые занятия способствуют общению и обмену опытом, а индивидуальные позволяют тренеру сосредоточиться на потребностях конкретного ученика.</p>
                    </div>
                </div>
            
                <div class="faq-item">
                    <button class="faq-question">
                        ЕСТЬ ЛИ ONLINE ЗАНЯТИЯ?
                        <span class="arrow">&#9660;</span>
                    </button>
                    <div class="faq-answer">
                        <p>Да, мы предлагаем online занятия по шахматам с опытными тренерами.</p>
                    </div>
                </div>
            
                <div class="faq-item">
                    <button class="faq-question">
                        ОБЯЗАТЕЛЬНО ЛИ УЧАСТВОВАТЬ В ТУРНИРАХ?
                        <span class="arrow">&#9660;</span>
                    </button>
                    <div class="faq-answer">
                        <p>Участие в турнирах не является обязательным, но оно способствует развитию навыков и получению опыта соревновательной игры.</p>
                    </div>
                </div>
            
                <div class="faq-item">
                    <button class="faq-question">
                        ЕСТЬ ЛИ УСЛОВИЯ ДЛЯ ТАЛАНТЛИВЫХ ДЕТЕЙ?
                        <span class="arrow">&#9660;</span>
                    </button>
                    <div class="faq-answer">
                        <p>Да, для талантливых детей у нас предусмотрены специальные условия обучения и возможность участия в престижных турнирах.</p>
                    </div>
                </div>
            </div>
        </section>

    </main>


    <footer>
        <div class="container">
            <div class="logo-column">
                <img src="media/logo-icon.png" alt="Логотип">
                <div>
                    <a href="#" class="vk-link"><img src="media/vk-icon.svg" alt="VK"></a>
                    <a href="#" class="vk-link"><img src="media/tg-icon.svg" alt="Telegram"></a>
                </div>
                <p class="copyright">&copy; 2023</p>
            </div>
    
            <div class="info-column">
                <h4>АНО ДПО "АКАДЕМИЯ ИНФОРМАЦИОННО-ЦИФРОВЫХ ТЕХНОЛОГИЙ"</h4>
                <p>Адрес: г. Заречный, ул. Кузнецова, 17</p>
                <p>Приёмная комиссия:</p>
                <p>Сведения об образовательной организации</p>
                <p>Об Академии</p>
                <p>Договор оферты</p>
                <p>2023 г. – Академия технологий</p>
            </div>
    
            <div class="training-column">
                <h4>ОБУЧЕНИЕ</h4>
                <p>Контакты</p>
                <p>Бесплатные материалы</p>
            </div>
    
            <div class="services-column">
                <h4>УСЛУГИ</h4>
                <p>Родителю</p>
                <p>Учителю</p>
                <p>Организации</p>
                <p>Бизнесу</p>
                <p>Стать партнёром</p>
            </div>
        </div>
    </footer>

    <script src="js/ChessJS.js"></script>
</body>
</html>