<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Образовательные смены</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/SmartHolydays.css') }}">


</head>
<body>

    <header class="header">
        <img src="{{url_for('static', filename='media/background.png')}}" alt="Фоновое изображение" class="header-bg">
        <div class="header-overlay"></div>
        
        <nav class="nav">
            <a href="#">На главную</a>
            <a href="#shifts">Смены</a>
            <a href="#price-section">Цены и скидки</a>
            <div class="phone">+7 (912) 224-21-20</div>
        </nav>
        
        <div class="header-content">
            <h1>Летняя <br> образовательная <br> площадка</h1>
            <ul>
                <li>3 смены</li>
                <li>С 07:50 до 17:30</li>
                <li>Отряды: шахматисты, программисты, отличники</li>
                <li>Занятия, бассейн, экскурсии, прогулки</li>
            </ul>
            <a href="#shifts" class="btn">Записаться</a>
        </div>
        
        <div class="social-icons">
            <div class="social-icons-text">Чат-бот <br>на связи</div>
            <div class="social-icons-links">
                <a href="#"><img src="{{url_for('static', filename='media/VKontakte-custom.svg')}}" alt="VK"></a>
                <a href="#"><img src="{{url_for('static', filename='media/tg-icon.svg')}}" alt="WhatsApp"></a>
            </div>
        </div>
        

        <img src="{{url_for('static', filename='media/logo-icon1.png')}}" alt="Логотип" class="header-logo">
    </header>
    


    <section class="smart-holidays">
        <h1 class="title">УМНЫЕ КАНИКУЛЫ!</h1>
        <div class="blocks">
            <div class="block">
                <img src="{{url_for('static', filename='media/razvitie1.png')}}" alt="Развитие">
                <h2>РАЗВИТИЕ</h2>
                <p>
                    НАШИ УЧЕНИКИ НА ПРАКТИКЕ РАЗВИВАЮТ МЕТАМАТИЧЕСКОЕ МЫШЛЕНИЕ, КОМПЬЮТЕРНУЮ ГРАМОТНОСТЬ,
                    НАВЫКИ ПРОГРАММИРОВАНИЯ, ПРКАЧИВАЮТ СЕБЯ В ШАХМАТАХ, ПУБЛИЧНОМ ВЫСТУПЛЕНИИ, СКОРОСТИ
                    ЧТЕНИЯ, ПИСЬМА И СЧЁТА. ЭТИ УМЕНИЯ СТАНУТ НЕОТЪЕМЛЕМОЙ ЧАСТЬЮ УСПЕШНОГО БУДУЩЕГО.
                </p>
            </div>
            <div class="block">
                <img src="{{url_for('static', filename='media/tvorchestvo1.png')}}" alt="Творчество">
                <h2>ТВОРЧЕСТВО</h2>
                <p>
                    В НАШИХ МАСТЕРСКИХ ДЕТИ РАСКРОЮТ СВОЙ ТВОЧЕСКИЙ ПОТЕНЦИАЛ, ИСПОЛЬЗУЯ СОВРЕМЕННЫЕ
                    ТЕХНОЛОГИИ. В КАЖДОЙ СМЕНЕ ПРЕДУСМОТРЕНЫ МАСТЕР-КЛАССЫ, ДОСУГОВЫЕ И СПОРТИВНЫЕ
                    МЕРОПРИЯТИЯ, ПОХОДЫ, БАССЕЙН, ЭКСКУРСИИ.
                </p>
            </div>
            <div class="block">
                <img src="{{url_for('static', filename='media/infrastrucktura.png')}}" alt="Инфраструктура">
                <h2>ИНФРАСТРУКТУРА</h2>
                <p>
                    НАША ПЛОЩАДКА СОВМЕЩАЕТ В СЕБЕ ВСЕ НЕОБХОДИМОЕ ДЛЯ КОМФРТНОГО ЛЕТНЕГО
                    ВРЕМЯПРЕПРОВОЖДЕНИЯ: ОБОРУДОВАННЫЕ ДЛЯ ОБУЧЕНИЯ В КЛАССЕ, МЕСТА ДЛЯ ДОСУГА,
                    ОРГАНИЗОВАННОЕ ГОРЯЧЕЕ ПИТАНИЕ (ПРИВОЗНОЕ), БЛИЗЛЕЖАЩИЕ ПАРКИ, ДЕТСКИЕ ПЛОЩАДКИ,
                    НАБЕРЕЖНАЯ ДЛЯ ПРОГУЛОК И МУЗЕИ.
                </p>
            </div>
            <div class="block">
                <img src="{{url_for('static', filename='media/result1.png')}}" alt="Результат">
                <h2>РЕЗУЛЬТАТ</h2>
                <p>
                    НАША ОСНОВНАЯ ЗАДАЧА – СОЗДАТЬ УСЛОВИЯ ЭФФЕКТИВНОГО ОБУЧЕНИЯ. МЫ СТРЕМИМСЯ К ТОМУ,
                    ЧТОБЫ ВСЕ УЧАСТНИКИ ПРОГРАММЫ ПРИОБРЕЛИ ПОЛЕЗНЫЕ ЗНАНИЯ: СДЕЛАЛИ СОБСТВЕННЫЙ
                    ПРОЕКТ, РАЗВИЛИ СВОЙ ПОТЕНЦИАЛ, ОТКРЫЛИ НОВЫЕ ГОРИЗОНТЫ, ПОЛУЧИЛИ ПРАКТИЧЕСКИЕ
                    НАВЫКИ
                </p>
            </div>
        </div>
    </section>
    
    <section class="image-gallery-section">
        <h2 class="gallery-title">Наши прошлые смены</h2>
        <div class="image-grid">
            <img src="{{url_for('static', filename='media/photo1.jpg')}}" alt="Image 1" data-row="1" data-col="1" data-width="1" data-height="1">
            <img src="{{url_for('static', filename='media/photo2.jpg')}}" alt="Image 2" data-row="1" data-col="2" data-width="1" data-height="1">
            <img src="{{url_for('static', filename='media/photo3.jpg')}}" alt="Image 3" data-row="1" data-col="3" data-width="1" data-height="2">
            <img src="{{url_for('static', filename='media/photo4.jpg')}}" alt="Image 4" data-row="2" data-col="1" data-width="1" data-height="2">
            <img src="{{url_for('static', filename='media/photo5.jpg')}}" alt="Image 5" data-row="2" data-col="2" data-width="1" data-height="1">
            <img src="{{url_for('static', filename='media/photo6.jpg')}}" alt="Image 6" data-row="3" data-col="2" data-width="1" data-height="1">
            <img src="{{url_for('static', filename='media/photo7.jpg')}}" alt="Image 7" data-row="3" data-col="3" data-width="1" data-height="1">
    
            <!-- 4-я колонка -->
            <img src="{{url_for('static', filename='media/photo9.jpg')}}" alt="Image 9" data-row="1" data-col="4" data-width="1" data-height="1">
            <img src="{{url_for('static', filename='media/photo10.jpg')}}" alt="Image 10" data-row="2" data-col="4" data-width="1" data-height="1">
            <img src="{{url_for('static', filename='media/photo11.jpg')}}" alt="Image 11" data-row="3" data-col="4" data-width="1" data-height="1">
    
            <!-- 5-я колонка -->
            <img src="{{url_for('static', filename='media/photo8.jpg')}}" alt="Image 8" data-row="1" data-col="5" data-width="1" data-height="1">
            <img src="{{url_for('static', filename='media/photo13.jpg')}}" alt="Image 12" data-row="2" data-col="5" data-width="1" data-height="2">
        </div>
    </section>
    
    

    <section id="shifts" class="shifts">
        <h1 class="summer-title">Летняя программа</h1>
        <div class="shifts-grid">
            
            <!-- 1 смена -->
            <div class="shift-card shift-1">
                <div class="shift-header">
                    <h2>1 СМЕНА</h2>
                    <p>С 02.06 ПО 27.06</p>
                </div>
                <div class="shift-content">
                    <h3>ШАХМАТИСТЫ:</h3>
                    <ul>
                        <li>Начальные стратегии</li>
                        <li>Тактика</li>
                        <li>Тактика и комбинации</li>
                        <li>Нюансы стадий шахматной партии</li>
                    </ul>
    
                    <h3>ПРОГРАММИСТЫ:</h3>
                    <ul>
                        <li>Мир мультимедиа</li>
                        <li>Программирование в Python</li>
                        <li>Чат-бот в Telegram</li>
                        <li>Игровая разработка</li>
                    </ul>
    
                    <h3>ОТЛИЧНИКИ:</h3>
                    <ul>
                        <li>Научные открытия</li>
                        <li>Изучаем физику</li>
                        <li>Физика в играх</li>
                        <li>Солнечная система</li>
                    </ul>
    
                    <hr>
    
                    <h3>ТВОРЧЕСТВО:</h3>
                    <ul>
                        <li>Пиксельный арт</li>
                        <li>Искусство оригами</li>
                        <li>Актерское мастерство</li>
                        <li>Необычные техники рисования</li>
                    </ul>
    
                    <h3>СПОРТ:</h3>
                    <ul>
                        <li>Карта приключений</li>
                        <li>Быстрая ракетка</li>
                        <li>Фестиваль на колесах</li>
                        <li>Подводные сокровища</li>
                    </ul>
    
                    <button class="signup-btn">Записаться</button>
                </div>
            </div>
    
            <!-- 2 смена -->
            <div class="shift-card shift-2">
                <div class="shift-header">
                    <h2>2 СМЕНА</h2>
                    <p>С 30.06 ПО 25.07</p>
                </div>
                <div class="shift-content">
                    <h3>ШАХМАТИСТЫ:</h3>
                    <ul>
                        <li>Психология и стратегия турниров</li>
                        <li>Тактические приемы</li>
                        <li>Типы позиций</li>
                        <li>Подготовка к финальному турниру</li>
                    </ul>
    
                    <h3>ПРОГРАММИСТЫ:</h3>
                    <ul>
                        <li>Мультимедиа + оформление игр</li>
                        <li>Веб-дизайн и разработка</li>
                        <li>3D моделирование</li>
                        <li>Интерактивные истории</li>
                    </ul>
    
                    <h3>ОТЛИЧНИКИ:</h3>
                    <ul>
                        <li>Научное шоу</li>
                        <li>Изучение природы</li>
                        <li>Работа с вопросами</li>
                        <li>Словарный запас</li>
                    </ul>
    
                    <hr>
    
                    <h3>ТВОРЧЕСТВО:</h3>
                    <ul>
                        <li>Арт батл</li>
                        <li>Создание комиксов</li>
                        <li>Пластилиновый мультфильм</li>
                        <li>Мир бумажных чудес</li>
                    </ul>
    
                    <h3>СПОРТ:</h3>
                    <ul>
                        <li>Спортивный калейдоскоп</li>
                        <li>Точный бросок</li>
                        <li>Спортивные герои</li>
                        <li>Поймай волну</li>
                    </ul>
    
                    <button class="signup-btn">Записаться</button>
                </div>
            </div>
    
            <!-- 3 смена -->
            <div class="shift-card shift-3">
                <div class="shift-header">
                    <h2>3 СМЕНА</h2>
                    <p>С 28.07 ПО 22.08</p>
                </div>
                <div class="shift-content">
                    <h3>ШАХМАТИСТЫ:</h3>
                    <ul>
                        <li>Эндшпиль</li>
                        <li>Анализ своих партий</li>
                        <li>Стратегия в шахматах</li>
                        <li>Тактические и стратегические тренировки</li>
                    </ul>
    
                    <h3>ПРОГРАММИСТЫ:</h3>
                    <ul>
                        <li>Система управления и анализ</li>
                        <li>Искусственный интеллект в играх</li>
                        <li>Программирование</li>
                        <li>Мультиплеерные игры</li>
                    </ul>
    
                    <h3>ОТЛИЧНИКИ:</h3>
                    <ul>
                        <li>Творческое письмо</li>
                        <li>Создание рассказов</li>
                        <li>Литературный клуб</li>
                        <li>Книжная выставка</li>
                    </ul>
    
                    <hr>
    
                    <h3>ТВОРЧЕСТВО:</h3>
                    <ul>
                        <li>Клуб настольных игр</li>
                        <li>Лаборатория чудес</li>
                        <li>Природный квиз</li>
                        <li>Цифровое искусство</li>
                    </ul>
    
                    <h3>СПОРТ:</h3>
                    <ul>
                        <li>Научные открытия</li>
                        <li>Изучаем растения</li>
                        <li>Кубок дружбы</li>
                        <li>День Нептуна</li>
                    </ul>
    
                    <button class="signup-btn">Записаться</button>
                </div>
            </div>
    
        </div>
    </section>


        <h2 class="schedule-title">Расписание дня</h2>
<div class="clock-container">
  <div class="center-dot"></div>
  <div class="hour-hand"></div>
  <div class="minute-hand"></div>

  <!-- Внутренние картинки -->
  <div class="icon" style="--i:0;"><img src="{{url_for('static', filename='media/clock1.png')}}" alt="иконка"></div>
<div class="icon" style="--i:1;"><img src="{{url_for('static', filename='media/clock2.png')}}" alt="иконка"></div>
<div class="icon" style="--i:2;"><img src="{{url_for('static', filename='media/clock3.png')}}" alt="иконка"></div>
<div class="icon" style="--i:3;"><img src="{{url_for('static', filename='media/clock5.png')}}" alt="иконка"></div>
<!-- Добавляем новые иконки на нужных углах -->
<div class="icon small-icon" style="--i:4;"><img src="{{url_for('static', filename='media/clock4.png')}}" alt="иконка"></div>
<div class="icon small-icon" style="--i:5;"><img src="{{url_for('static', filename='media/clock6.png')}}" alt="иконка"></div>
<div class="icon small-icon" style="--i:6;"><img src="{{url_for('static', filename='media/clock7.png')}}" alt="иконка"></div>
<div class="icon small-icon" style="--i:7;"><img src="{{url_for('static', filename='media/clock8.png')}}" alt="иконка"></div>


  <!-- События (по внешнему кругу) -->
  <div class="event" style="--i:0;"><strong class="time-red">07:50-09:00</strong><span>Общий сбор</span></div>
    <div class="event" style="--i:1;"><strong class="time-yellow">09:00-09:15</strong><span>Утренняя зарядка</span></div>
    <div class="event" style="--i:2;"><strong class="time-yellow">09:15-09:30</strong><span>Собрание отрядов</span></div>
    <div class="event" style="--i:3;"><strong class="time-blue">09:30-09:50</strong><span>Полезный завтрак</span></div>
    <div class="event" style="--i:4;"><strong class="time-blue">09:50-10:50</strong><span>Прогулка</span></div>
    <div class="event" style="--i:5;"><strong class="time-blue">10:50-11:50</strong><span>1-е отрядное занятие</span></div>
    <div class="event" style="--i:6;"><strong class="time-blue">11:50-12:50</strong><span>2-е отрядное занятие</span></div>
    <div class="event" style="--i:7;"><strong class="time-blue">12:50-13:20</strong><span>Сытный обед</span></div>
    <div class="event" style="--i:8;"><strong class="time-green">13:20-14:20</strong><span>Спортивное занятие</span></div>
    <div class="event" style="--i:9;"><strong class="time-green">14:20-15:20</strong><span>Прогулка</span></div>
    <div class="event" style="--i:10;"><strong class="time-green">15:20-15:30</strong><span>Вкусный полдник</span></div>
    <div class="event" style="--i:11;"><strong class="time-green">15:30-16:30</strong><span>3-е отрядное занятие</span></div>
    <div class="event" style="--i:12;"><strong class="time-green">16:30-17:30</strong><span>Творческое мероприятие</span></div>
    <div class="event" style="--i:13;"><strong class="time-red">17:30-...</strong><span>До завтра!</span></div>
  <!-- ... остальные события -->
</div>


    
    <section id="price-section" class="price-section">
      <div class="price-container">
          <div class="price-title">
              СТОИМОСТЬ СМЕНЫ – <br>
              <span class="price-range">ОТ 10 500 р. ДО 18 500 р.</span>
          </div>
  
          <div class="buttons">
              <button class="btn online-btn" data-mode="online">ОНЛАЙН</button>
              <button class="btn offline-btn" data-mode="offline">ОФЛАЙН</button>
          </div>
      </div>
  </section>

  <section class="pricing-section" id="pricing-section">
    <h2 class="pricing-title">ПРЕЙСКУРАНТ ЦЕН</h2>

    <div class="pricing-container">
        <div class="pricing-info">
            <p><b>ВОЗРАСТ:</b> 1-9 классы</p>
            <p><b>РАСПИСАНИЕ:</b> Пн-Пт с 09:00 до 16:00</p>
            <p><b>РЕЖИМ:</b> 4 ч / 7 ч</p>
        </div>

        <!-- Разделитель -->
        <div class="pricing-divider"></div>

        <div class="pricing-details">
            <p><b>Стоимость недели (4 ч / 7 ч):</b> 5000 / 6500</p>
            <p><b>Стоимость месяца (4 ч / 7 ч):</b> 9500 / 13500</p>
        </div>
    </div>

    <!-- Фичи -->
    <div class="feature-container">
        <div class="feature-item study">
            <h3>ЗАНЯТИЯ</h3>
            <p>ЗАНЯТИЯ ПО ПРОГРАММИРОВАНИЮ, ШАХМАТАМ, МАТЕМАТИКЕ, ОЛИМПИАДНОЙ ПОДГОТОВКЕ.</p>
        </div>

        <div class="feature-item master">
            <h3>МАСТЕР-КЛАССЫ</h3>
            <p>ТВОРЧЕСКИЕ, НАУЧНЫЕ И КУЛИНАРНЫЕ МАСТЕР-КЛАССЫ, СПОРТИВНЫЕ ИГРЫ И КВЕСТЫ.</p>
        </div>
    </div>
</section>

<section class="pricing-section" id="offline-pricing-section">
  <h2 class="pricing-title">ПРЕЙСКУРАНТ ЦЕН</h2>

  <div class="pricing-container">
      <div class="pricing-info">
          <p><b>ВОЗРАСТ:</b> 6-7 лет, 1-9 классы</p>
          <p><b>РАСПИСАНИЕ:</b> Пн-Пт с 07:50 до 17:30</p>
          <p><b>РЕЖИМ:</b> 4,5 ч / 6,5 ч / 8,5 ч</p>
      </div>

      <!-- Разделитель -->
      <div class="pricing-divider"></div>

      <div class="pricing-details">
          <p><b>Стоимость дня (4,5 ч / 6,5 ч / 8,5 ч):</b> 1100 / 1400 / 1800</p>
          <p><b>Стоимость недели (4,5 ч / 6,5 ч / 8,5 ч):</b> 5500 / 6800 / 8700</p>
          <p><b>Стоимость месяца (4,5 ч / 6,5 ч / 8,5 ч):</b> 10500 / 15500 / 18500</p>
      </div>
  </div>

  <!-- Фичи -->
  <div class="feature-container">
      <div class="feature-item food">
          <h3>ПИТАНИЕ</h3>
          <p>4-Х РАЗОВОЕ СБАЛАНСИРОВАННОЕ ПИТАНИЕ</p>
      </div>

      <div class="feature-item study">
          <h3>ЗАНЯТИЯ</h3>
          <p>ЗАНЯТИЯ ПО ПРОГРАММИРОВАНИЮ, ШАХМАТАМ, КОРРЕКЦИИ ПОЧЕРКА, ЧТЕНИЮ, МАТЕМАТИКЕ.</p>
      </div>

      <div class="feature-item sport">
          <h3>СПОРТ И ПРОГУЛКИ</h3>
          <p>БАССЕЙН*, ПРОГУЛКИ, ЭКСКУРСИИ*, РОЛИКИ, БАДМИНТОН, ИГРОВОЕ ПРОСТРАНСТВО «ЛЕС ЧУДЕС»</p>
          <p class="small-text">*АБОНЕМЕНТ ПРИОБРЕТАЕТСЯ ОТДЕЛЬНО</p>
      </div>

      <div class="feature-item master">
          <h3>МАСТЕР-КЛАССЫ</h3>
          <p>ДОСУГОВЫЕ МЕРОПРИЯТИЯ (КИНО, МУЗЕЙ, ВЫСТАВКИ), ТВОРЧЕСКИЕ, НАУЧНЫЕ И КУЛИНАРНЫЕ МАСТЕР-КЛАССЫ, СПОРТИВНЫЕ ИГРЫ И КВЕСТЫ НА СВЕЖЕМ ВОЗДУХЕ.</p>
      </div>
  </div>
</section>

    
      <section class="discount-section">
    <div class="discount-content">
        <h2 class="discount-title">ПРИ РАННЕМ БРОНИРОВАНИИ 10% <br> СКИДКИ!</h2>
        <div class="form-inputs">
            <input type="text" id="name" class="form-input" placeholder="Ваше имя">
            <input type="tel" id="phone" class="form-input" placeholder="Номер телефона">
            <input type="email" id="email" class="form-input" placeholder="Ваш email"> <!-- Добавлено поле email -->
        </div>
        <button type="button" class="signup-button">ЗАПИСАТЬСЯ</button>
        <div id="message"></div>
        <p class="privacy-text">Нажимая на кнопку, вы даёте согласие на обработку персональных данных</p>
    </div>
</section>

<div id="data-display"></div> <!-- Контейнер для отображения данных -->


    <section class="location-section">
      <h2 class="location-title">МЫ НАХОДИМСЯ:</h2>
      <div class="location-map">
        <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2350.0000000000005!2d61.316181!3d56.805402!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c5c9f1e6e6e6e6%3A0x6e6e6e6e6e6e6e6e!2z0YPQuy4g0JrRgNCw0YHQvdCw0Y8sIDE3LCDQnNC-0YHQutCy0LAsINCh0L7RgNC40L3RgdC60LDRjyDQvtCx0LsuLCA2MjQyNTA!5e0!3m2!1sru!2sru!4v1715229387578!5m2!1sru!2sru"
        width="100%"
        height="100%"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="location-info">
          <div class="location-contact">
              <p>Образовательный центр </p>
              
              <p><a href="tel:+74951064600">Телефон</a></p>
          </div>
          <div class="location-license">
              <p>Лицензия на образовательную деятельность № Л035-01277-66/00670669</p>
              <p><a href="#">Публичная оферта</a></p>
              <p><a href="#">Политика конфиденциальности</a></p>
          </div>
      </div>
     <div class="location-footer">
         <div class="footer-left">
             <img src="{{url_for('static', filename='media/logo-icon111.png')}}" alt="logo">
         </div>
          <div class="footer-social">
              <a href="#">VK</a>
              <a href="#">Telegram</a>
              <a href="#">WhatsApp</a>
          </div>
  
          <div class="footer-right">
              <a href="#" class="footer-button">Мы на связи!</a>
          </div>
  
      </div>
  </section>

    <div id="signupModal" class="modal">
    <div class="modal-content">
        <span id="closeModal" class="close-btn">&times;</span>
        <h2>Запись на смену</h2>
        <p id="selectedShift"></p>
        <input type="text" id="userName" placeholder="Ваше имя">
        <input type="tel" id="userPhone" placeholder="Номер телефона">
        <input type="email" id="userEmail" placeholder="Ваш email">
        <button id="submitForm">Записаться</button>
    </div>
</div>

    <script src="js/Smarholidays.js"></script>
    <script src="{{ url_for('static', filename='js/Smarholidays.js') }}"></script>
</body>
</html>
